@font-face {
    font-family: 'AvenirBlack'; /* Nombre que vas a usar */
    src: url('../../tipografia/Avenir-Black.ttf') format('truetype'); /* Ruta al archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvenirBook;
    src: url(../../tipografia/Avenir-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: 'AvenirBlack', Arial, sans-serif;
    font-size: 64px;
    font-weight: 100;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    margin-bottom: 100px;
    background-color: #212121;
}
p{
    font-family: 'AvenirBook', Arial, sans-serif;
    font-size: 26px;
}
.button{
    background-color: #212121;
    color: white;
    border: none;
    padding: 10px 20px;
    width: 158px;
    height: 54px;
    border-radius: 16px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.35s;
    font-family: 'AvenirBook', Arial, sans-serif;
}
button:hover{
    background-color: #424242;
}
.contenido{
    margin-bottom: 50px;
}
.imagenes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 50px;
}
.menu button{
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #212121;
    color: white;
    cursor: pointer;
    font-family: 'AvenirBook', Arial, sans-serif;
    
}
main{
    background-color: white;
    width: 1400px;
    height: 1139px;
    padding-left: 64px;
    padding-right: 64px;
}

