@font-face {
    font-family: 'AvenirBlack'; /* Nombre que vas a usar */
    src: url('../../tipografia/Avenir-Black.ttf') format('truetype'); /* Ruta al archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvenirBook;
    src: url(../../tipografia/Avenir-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 999px;
    background-color: white;
}

.contingut {
    margin-left: 70px;
}
h1{
    font-family: AvenirBlack, Arial, sans-serif;
    font-size: 64px;
}
h2{
    font-family: AvenirBook, Arial, sans-serif;
    font-size: 32px;
    color: rgb(56, 56, 56);
}
p{
    font-family: AvenirBook, Arial, sans-serif;
    color: rgb(75, 74, 74);
    font-size: 24px;
}
button{
    background-color: #212121;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.35s;
    font-family: AvenirBook, Arial, sans-serif;
}
button:hover{
    background-color: #424242;
}
.imatge{
    margin-top: 30px;
}
.numero{
    margin-top: 80px;
}
body{
    background-color: #212121;
    margin: 0;
    display: flex;
    justify-content: center;
}