@font-face {
    font-family: 'AvenirBlack'; 
    src: url('../../tipografia/Avenir-Black.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvenirBook;
    src: url(../../tipografia/Avenir-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: 'AvenirBlack';
    font-size: 72px;
}
p{
    font-family: AvenirBook;
    font-size: 24px;
    color: rgb(46, 46, 46);
}
h2{
    font-family: 'AvenirBlack';
    color: rgba(180, 173, 173, 0.784);
    font-size: 40px;
}
section{
    display: flex;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}
.menu{
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.menu button{
    border: none;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: #212121;
    color: white;
    cursor: pointer;
    font-family: 'AvenirBook', Arial, sans-serif;
    
}
.menu button:hover{
    background-color: #424242;
}
main{
    width: 1440px;
    height: 926px;
    background-color: white;
}