@font-face {
    font-family: 'AvenirBlack'; 
    src: url('../../tipografia/Avenir-Black.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvenirBook;
    src: url(../../tipografia/Avenir-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

main {
    display: flex;
    justify-content: center;
    background-color: white;
}

.titulo h1 {
    text-align: left;
    margin: 0;
    font-family: AvenirBlack;
    font-size: 88px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.contenido{
    width: 1440px;
    height: 954px;
}
.container {
    display: flex;
    gap: 50px;
}

h2{
    font-family: AvenirBook;
    color: rgb(88, 88, 88);
    font-size: 32px;
}

p{
    font-family: AvenirBook;
    color:rgb(83, 83, 83);
    font-size: 24px;
}
button{
    color: white;
    background-color: #212121;
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    transition: 0.35s;
}
button:hover{
    background-color: #424242;
}