@font-face {
    font-family: 'AvenirBlack';
    src: url('../../tipografia/Avenir-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvenirBook;
    src: url(../../tipografia/Avenir-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
}
h1{
    font-family: 'AvenirBlack', sans-serif;
    font-size: 1rem;
    color: #363830;
}
h2{
    font-family: 'AvenirBlack', sans-serif;
    font-size: 1rem;
    color: #363830;
}
p{
    font-family: 'AvenirBook', sans-serif;
    font-size: 1rem;
    max-width: 1200px;
}
button{
    font-family: 'AvenirBook', sans-serif;
    font-size: 1rem;
    padding: 30px 40px;
    background-color: #363830;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: fit-content;
    width: 290px;
}
button:hover{
    background-color: #555653;
}
main{
    width: 1440px;
    height: 926px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}